@font-face {
	font-family: Raleway;
	src: url("../asset/Raleway-Regular.woff2");
}

* {
	box-sizing: border-box;
}

html {
	background-color: black;
	color: white;
	font-family: Raleway, sans-serif;
	font-size: 24px;
	line-height: calc(32 / 24);
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#app {
	min-height: 100%;
	display: flex;
	flex-flow: column;
}

.icon {
	display: flex;
}
.icon > svg {
	fill: currentColor;
	width: 32px;
	height: 32px;
}
.icon.large > svg {
	width: 48px;
	height: 48px;
}
.icon.small > svg {
	width: 24px;
	height: 24px;
}

.header-button {
	background-color: lch(10 50 260);
	color: white;
	font-family: inherit;
	font-size: inherit;
	border: 0;
	padding: 10px;
}
.header-button:hover {
	background-color: lch(20 50 260);
	/* filter: brightness(1.4); */
}
.header-button:active {
	background-color: lch(2 50 260);
	/* filter: brightness(0.6); */
}

.action-button {
	background-color: lch(10 50 260);
	color: white;
	border: 0;
	padding: 10px;
	border-radius: 15px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
}
.action-button:hover {
	background-color: lch(20 50 260);
}
.action-button:active {
	background-color: lch(2 50 260);
}
.form {
	padding: 10px;
	display: flex;
	flex-flow: column;
	gap: 5px;
}
.form.big {
	padding: 20px;
	gap: 20px;
}

.form-label {
	font-size: 20px;
}

.input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: #35363f;
	color: white;
	border: 0;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

.small {
	font-size: 18px;
}
