@font-face {
	font-family: Raleway;
	src: url("../asset/Raleway-Regular.woff2");
}
html {
	background-color: black;
	color: white;
	font-family: Raleway, sans-serif;
	font-size: 24px;
	line-height: calc(32 / 24);
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

#app {
	min-height: 100%;
	display: flex;
	flex-flow: column;
}

.icon {
	display: flex;
}
.icon > svg {
	fill: currentColor;
	width: 32px;
	height: 32px;
}
.icon.large > svg {
	width: 48px;
	height: 48px;
}
.icon.small > svg {
	width: 24px;
	height: 24px;
}
